{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Expense Tracker {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href ="{% url 'listar_categorias' %}"> Categorias </a>
            <a href = "{% url 'listar_gastos'%}"> Gastos </a>
        </nav>
    </header>
    <main>
        <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        </div>

        {% block content%}
        {%endblock%}
    </main>

    <footer> 
        <p> Proyecto practica Django </p>
    </footer>
</body>
</html>